<section class="current-course-container">
  <div class="current-course">
    <span class="lkwiconuser"></span>
    <span>5</span>
  </div>
</section>
<div class="old-courses-container">
  <div class="search-container">
    <input type="" name="" value="" class="seach-input">
  </div>
  <div class="old-courses">
    <!-- NGFOR TO PLACE HERE -->
    <div class="old-course">
      <div class="participate-indicator">
        <span>5</span>
      </div>
      <footer class="wrap-date">
        <span>19/06/2017</span>
      </footer>
    </div>
    <div class="old-course">
      <div class="participate-indicator">
        <span>5</span>
      </div>
      <footer class="wrap-date">
        <span>19/06/2017</span>
      </footer>
    </div>
    <div class="old-course">
      <div class="participate-indicator">
        <span>5</span>
      </div>
      <footer class="wrap-date">
        <span>19/06/2017</span>
      </footer>
    </div>
    <div class="old-course">
      <div class="participate-indicator">
        <span>5</span>
      </div>
      <footer class="wrap-date">
        <span>19/06/2017</span>
      </footer>
    </div>
    <!-- END NGFOR -->
  </div>
</div>