@import '../../../../assets/vars';

:host {
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    top: 30px;
    position: relative;
}

.current-course-container {
    position: fixed;
    border: 1px solid black;
    text-align: center;
    .current-course {
        border: 1px solid green;
        color: blue;
        display: flex;
        flex-direction: column;
        z-index: 1;
    }

}

.old-courses-container {
    top: 50px;
    position: relative;
    z-index: 2;
    background: white;
    width: 100%;
    .search-container {
        .search-input {

        }
    }
    .old-courses {
        .old-course {
            .participate-indicator {

            }
            .wrap-date {

            }
        }
    }
}