@import '../../../../assets/vars';

:host {
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    top: 60px;
    position: relative;
}

.current-course-container {
    position: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .current-course {
        width: 5em;
        height: 5em;
        font-size: 1.1em;
        border: 1px solid green;
        border-radius: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        z-index: 1;
    }

}

.old-courses-container {
    top: 9em;
    position: relative;
    z-index: 2;
    background: white;
    width: 100%;
    .search-container {
        .search-input {

        }
    }
    .old-courses {
        .old-course {
            .participate-indicator {

            }
            .wrap-date {

            }
        }
    }
}