<footer class="nav-container">
    <nav class="lkw-nav">
        <div class="nav-item">
            <button type="button" class="options"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
        </div>
        <div class="nav-item home">
           <button type="" class="home"><i class="fa fa-home" aria-hidden="true"></i></button>
        </div>
        <div class="nav-item">
            <button type="" class="users"><i class="fa fa-user-o" aria-hidden="true"></i></button>
        </div>
    </nav>    
</footer>
