@import '../../../assets/vars';

@font-face {
    font-family: "sullivan";
    src: url('../../../assets/fonts/Geometos Rounded.ttf');
}

:host {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

.lkw-nav {
    animation: enterLeft;
    animation-duration: 1s;
    position: fixed;
    left: 10px;
    top: 10px;
    width: 2em;
    height: 2em;
    display: flex;
    border-radius: 100em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: $color-basic-blue;
    color: white;
    padding: .2em;
    -webkit-box-shadow: 5px 3px 31px -6px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 5px 3px 31px -6px rgba(0, 0, 0, 0.74);
    box-shadow:5px 3px 31px -6px rgba(0, 0, 0, 0.74);

    .nav-item {
        height: 100%;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.active {
            font-size: 1.3em;
            transition: .3s;
            & > button {
                color: white;
            }
        }
        button {
            color: $color-non-active-actions-button;
            font-size: .8em;
            border-radius: 20px;
            border: 1px solid transparent;
            background: transparent;
            &.options {
                &:after {
                    left: 15%;
                }
            }
            &.home {
                &:after {
                    left: 50%;
                }
            }
            &.user {
                &:after {
                    left: 85%;
                }                
            }
            &:after {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                top: 100%;
                background: rgba(255, 255, 255, .3);
                opacity: 0;
                border-radius: 100px;
                transform: scale(1, 1) translate(-50%);
                transform-origin: 50% 50%;
            }
            &:focus:not(:active)::after {
                animation: ripple .3s ease-out;
            }
        }
    }
}

.lkw-menu {
    display: none;
    &.open-menu {
        display: block;
    }
    font-family: "sullivan" !important;
    font-size: .7em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000%;
    background: rgba(21, 35, 53, 0.69);
    .menu-container {
        background: rgba(21, 35, 53, 1);
        height: auto;
        width: 150%;
        color: $color-non-active-actions-button;
        padding-left: 3em;

        .menu-element {
            padding-top: 1em;
            padding-bottom: 1em;
            span {
                font-size: 1.2em;
            }
        }
     }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

@keyframes enterLeft {
    0% {
        transform: translate(-80px, 0);
    }
}