@import '../../../assets/vars';

.lkw-nav {
    position: fixed;
    left: 10px;
    top: 10px;
    display: flex;
    border-radius: 100em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: $color-basic-blue;
    color: white;
    padding: .2em;
    -webkit-box-shadow: 5px 3px 31px -6px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 5px 3px 31px -6px rgba(0, 0, 0, 0.74);
    box-shadow:5px 3px 31px -6px rgba(0, 0, 0, 0.74);

    .nav-item {
        height: 100%;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &.active {
            font-size: 1.3em;
            transition: .3s;
            & > button {
                color: white;
            }
        }
        button {
            color: $color-non-active-actions-button;
            font-size: .8em;
            border-radius: 20px;
            border: 1px solid transparent;
            background: transparent;
            &.options {
                &:after {
                    left: 15%;
                }
            }
            &.home {
                &:after {
                    left: 50%;
                }
            }
            &.user {
                &:after {
                    left: 85%;
                }                
            }
            &:after {
                content: '';
                position: absolute;
                width: 5px;
                height: 5px;
                top: 100%;
                background: rgba(255, 255, 255, .3);
                opacity: 0;
                border-radius: 100px;
                transform: scale(1, 1) translate(-50%);
                transform-origin: 50% 50%;
            }
            &:focus:not(:active)::after {
                animation: ripple .3s ease-out;
            }
        }
    }
}

@keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}