@import '../../../../assets/vars';

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}


.lkw-recruitment-app {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .lkw-logo {
        @media ($small) {
            position: relative;
            width: 384px;
            height: 261px;
            transition: 1s;
        }
    }

    .form {
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.11);
        padding: 2em;
        transition: 1s;
        border-left: 4px solid black;
        
        label {
            color: rgba(0, 0, 0, 0.25);
            font-size: .8em;
        }
        .button-hover {
           position: absolute;
            bottom: -13px;
            left: 36%;
            width: 10em;
            height: 3em;
            border: none;
            color: white;
            background: black;
            border-radius: 27px;
            // animation ?
            @media ($small) {

            }
        }
        .enabled {
            background: rgba(0, 249, 100, 0.68);
            transition: 1s;
        }
        .button-unvalid {
            background: #e23e3e;
            transition: 1s;
        }
    }
    .valid {
        border-left: 4px solid rgba(0, 249, 100, 0.68);
    }
    .unvalid {
        border-left: 4px solid #e23e3e;
    }

}

@keyframes moveFromDown {
    0% {
        bottom: -30px;
    }
    100% {
        bottom: -13px;
    }
}