$icomoon-font-path: "assets/fonts";

$lkwiconsearch: "\e932";
$lkwiconspeech-bubble: "\e933";
$lkwiconadd-button: "\e900";
$lkwiconapps: "\e901";
$lkwiconat: "\e902";
$lkwiconbookmark: "\e903";
$lkwiconbrowser-visualization: "\e904";
$lkwiconbrowser: "\e905";
$lkwiconcheck-square: "\e906";
$lkwiconchrome-logo: "\e907";
$lkwiconclose: "\e908";
$lkwiconcompass-1: "\e909";
$lkwiconcompass-2: "\e90a";
$lkwiconcompass-3: "\e90b";
$lkwiconcompass: "\e90c";
$lkwiconconnections: "\e90d";
$lkwicondiagonal-enlarge: "\e90e";
$lkwicondownload: "\e90f";
$lkwicondownloading-from-smartphone: "\e910";
$lkwiconfavorites-button: "\e911";
$lkwiconfolders: "\e912";
$lkwiconglasses: "\e913";
$lkwiconhigh-volume: "\e914";
$lkwiconhistory-button: "\e915";
$lkwiconhome: "\e916";
$lkwiconmenu-button: "\e917";
$lkwiconmicrophone: "\e918";
$lkwiconmouse: "\e919";
$lkwiconmulti-tab: "\e91a";
$lkwiconmute: "\e91b";
$lkwiconnew-file: "\e91c";
$lkwiconnext-page: "\e91d";
$lkwiconnote: "\e91e";
$lkwiconnotification: "\e91f";
$lkwiconopen-book: "\e920";
$lkwiconorder: "\e921";
$lkwiconpadlock: "\e922";
$lkwiconpicture: "\e923";
$lkwiconpin: "\e924";
$lkwiconplay-button-1: "\e925";
$lkwiconplay-button: "\e926";
$lkwiconrefresh-button: "\e927";
$lkwiconretweet: "\e928";
$lkwiconsettings: "\e929";
$lkwiconshop: "\e92a";
$lkwiconside-menu: "\e92b";
$lkwiconspider-web: "\e92c";
$lkwicontracker: "\e92d";
$lkwiconturn-right: "\e92e";
$lkwiconupload-arrow: "\e92f";
$lkwiconupload-to-cloud: "\e930";
$lkwiconuser: "\e931";

