<div class="homedancers-container">
  <div class="card" *ngFor="let dancer of dancers; let i = index" (@flyInOut.done)="doNext()" [@flyInOut]="'in'" [ngClass]="{'esilv': dancer.schoolName === 'esilv', 'iim': dancer.schoolName === 'iim', 'emlv': dancer.schoolName === 'emlv'}">
    <img class="card-img" [src]="dancer.img" alt=""> <!-- assets/LKW-white copy.png -->
    <div class="card-content">
      <h1>{{dancer.firstName}} {{dancer.lastName}}</h1>
      <p>{{dancer.danceStyles}}</p>
      <span>{{dancer.status}}</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
</div>