<div class="homedancers-container">
  <div class="card">
    <img src="" alt="">
    <div>
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
  </div>
  <div class="card">
    
  </div>
  <div class="card">
    
  </div>
  <div class="card">
    
  </div>
  <div class="card">
    
  </div>
  <div class="card">
    
  </div>
  <div class="card">
    
  </div>
  <div class="card">
    
  </div>
  <div class="card">
    
  </div>
  <div class="card">
    
  </div>
  <div class="card">
    
  </div>
  <div class="card">
    
  </div>
</div>