<div class="homedancers-container" appFadeList>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
  <div class="card" [ngClass]="{'esilv': esilv, 'iim': iim, 'emlv': emlv}">
    <img class="card-img" src="assets/LKW-white copy.png" alt="">
    <div class="card-content">
      <h1>Maxime Gasnier</h1>
      <p>Hip Hop, House, Break</p>
      <span>Membre</span>
    </div>
    <div class="card-actions">
      <span class="lkwmore"></span>
    </div>
  </div>
</div>